@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

    body {
        margin-left: 5%;
        width: 100%;
        height: 100vh;
        background: #000;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        overflow-x: hidden;
        
    }
    
    #title {
        color:#EEECEC;
        font-weight: 900;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: 6.85714px;
        text-transform: uppercase;
        transform: translate(-10px, 50px);
    }

    nav {
        margin-bottom: 50px;
        margin-top: 100px;
        border-bottom: 2px solid #EEECEC;
        width: 1280px;
    }

    ul {
        list-style: none;
        padding-inline-start: 0;
        margin-left: 0;
    }

    .menu li {
        color:  #EEECEC;
        font-style: normal;
        font-weight: 500;
        display: inline-block;
        cursor: pointer;
        text-transform: uppercase;
        padding: 1rem;
        line-height: 18.75px;
    }

    .menu li:hover {
        color: #000;
        background: #EEECEC;
        transition: 1s ease-in-out;
    }

    .active {
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
    }

    #container {
        width: 1280px;
        transform: translate(-195px, 10px);
        
    }

    .card {
        width: 47%;
        float: left;
        text-align: center; 
        position: relative;
        margin-bottom: 74px;
    }

    .study-title {
        position: absolute;
        left: 426px;
        top: 20px;
        width: 341px;
        font-weight: 900;
        font-size: 30px;
        line-height: 35px;
        text-align: left;
    }

    .excerpt {
        position: absolute;
        left: 430px;
        top: 115px;
        width: 314px;
        line-height: 22px;
        text-align: left;
    }

    .category {
        position: absolute;
        left: 430px;
        top: -13px;
        border-bottom: 2px solid #EEECEC;
        font-size: 12px;
        width: 330px;
        text-align: left;
        text-transform: uppercase;
        line-height: 14.06px;
    }

    .view {
        position: absolute;
        left: 590px;
        top: 225px;
        width: 153px;
        border: 2px solid #EEECEC;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        padding: 7px;
        cursor:pointer;
    }



    #arrow {
        margin-left: 15px;
    }

    .thumbnail {
        width: 217.2px;
        height: 291px;
        position: relative;
        cursor: pointer;
    }

    .thumbnail:hover {
        transform: scale(1.1);
        transition: transform 0.5s ease-in-out;
    }


    #asset1 {
        position: relative;
        top: 222px;
        left: 700px;
        width: 200px;
        height: 200px
    }

    #asset2 {
        position: absolute;
        top:0;
        right: 0;
    }

    #asset3 {
        position: relative;
        top: 215px;
        left: -492px;
        width: 200px;
        height: 200px;   
    }

  #results {
      font-size: 4rem;
      text-align:center;
      margin-bottom: 500px;
  }
  

  @media screen and (max-width: 1350px) {
    .card {
        width: 100%;
        margin-bottom: 150px;
    }

    .menu li {
        font-size: 12px;
    }

    nav {
        width: 700px;
    }

    .category {
        left: 740px;
        width: 150px;
      }

      .study-title {
        left: 740px;
    }

    .excerpt {
        left: 740px;
    }

    .view {
        left: 740px;
    }

    .thumbnail {
        right: 40px;
    }

  } 

  @media screen and (max-width: 765px) {
      #asset2 {
        right: 15px;
      }

      #title {
        transform: translate(100px, 150px);
      }

      nav {
          margin-top: 190px;
          width: 280px;
      }

      .menu li {
          display: block;
          width: 150px;
      }

      .active {
          text-align: center;
      }

      ul {
        margin-left: 80px;
      }
      .category {
        left: 326px;
        width: 150px;
      }

      #container {
          width:500px;
      }
      .card {
          width: 100%;
          margin-bottom: 150px;
      }

      .thumbnail {
        width: 117.2px;
        height: 191px;
        left: 2px;
      }

      .study-title {
          left: 325px;
          font-size:25px;
      }

      .excerpt {
        font-size: 12px;
        left: 325px;
        width: 180px
      }

      .view {
        left: 320px;
        width: 125px;
        font-size: 10px;
      }

      #results {
        font-size: 2rem;
        margin-left: 210px;
      } 
  }

  @media screen and (max-width: 376px) {

    .thumbnail {
        width: 96.2px;
        height: 190px;
        left: 8px;
    }

    .excerpt {
        font-size: 10px;
        
    }

}
    

