@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

    body {
        margin-left: 5%;
        width: 100%;
        height: 100vh;
        background: #000;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        overflow-x: hidden;
        
    }
    

    #title {
        color:#EEECEC;
        font-weight: 900;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: 6.85714px;
        text-transform: uppercase;
        transform: translate(-10px, 50px);
    }

    nav {
        margin-bottom: 50px;
        margin-top: 100px;
        border-bottom: 2px solid #EEECEC;
        width: 1280px;
    }

    ul {
        list-style: none;
        padding-inline-start: 0;
        margin-left: 0;
    }

    .menu li {
        color:  #EEECEC;
        font-style: normal;
        font-weight: 500;
        display: inline-block;
        cursor: pointer;
        text-transform: uppercase;
        padding: 1rem;
        line-height: 18.75px;
    }

    .active {
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
    }



    #container {
        width: 1280px;
        transform: translate(-195px, 10px);
        
    }

    .card {
        width: 47%;
        float: left;
        text-align: center; 
        position: relative;
        margin-bottom: 74px;
    }

    .study-title {
        position: absolute;
        left: 426px;
        top: 20px;
        width: 341px;
        font-weight: 900;
        font-size: 30px;
        line-height: 35px;
        text-align: left;
    }

    .excerpt {
        position: absolute;
        left: 430px;
        top: 115px;
        width: 314px;
        line-height: 22px;
        text-align: left;
    }

    .category {
        position: absolute;
        left: 430px;
        top: -13px;
        border-bottom: 2px solid #EEECEC;
        font-size: 12px;
        width: 330px;
        text-align: left;
        text-transform: uppercase;
        line-height: 14.06px;
    }

    .view {
        position: absolute;
        left: 590px;
        top: 225px;
        width: 153px;
        border: 2px solid #EEECEC;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        padding: 7px;
        cursor:pointer;
    }

    #arrow {
        margin-left: 15px;
    }

    .thumbnail {
        width: 217.2px;
        height: 291px;
        position: relative;
    }


    #asset1 {
        position: relative;
        top: 222px;
        left: 700px;
        width: 200px;
        height: 200px
    }

    #asset2 {
        position: absolute;
        top:0;
        right: 0;
    }

    #asset3 {
        position: relative;
        top: 215px;
        left: -492px;
        width: 200px;
        height: 200px;   
    }

  #results {
      font-size: 4rem;
      text-align:center;
      margin-bottom: 500px;
  }
    

